@import '../../styles/variables.css';

.messageModal{
    transition: transform 1s ease-out, opacity 1s ease-out;
    transform: translateX(-100%);
    opacity: 0;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.popupLoading{
    /* height: 5px; */
    border-top: 3px solid;
    width: 0;
    animation-name: load;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    border-radius: 0 0 3px 3px;
}

.popupLoading.error, 
.messageModal.error{
    border-color: var(--danger);
}

.popupLoading.success,
.messageModal.success{
    border-color: var(--blue);
}

.popupLoading.info,
.messageModal.info{
    border-color:  var(--info);
}

.popupLoading.warning,
.messageModal.warning{
    border-color: var(--warning);
}


@keyframes load {
    to{
        width: 100%;
    }
}