.animate-scale{
    animation-name: scale;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes scale {
    50%{
        scale: 1.2;
    }

    100%{
        scale: 1;
    }
}